#topbar {
	width: 100%;
	height: 100px;
	background-color: beige;
	position: absolute;
	text-align: center;
	top: 0px;
	display: block;
}

.nav_option {
	padding: 15px;
	margin-top: 15px;
}

#blog_hub_explanation {
	position: absolute;
	display: block;
	clear: all;
	margin-top: 300px;
	width: 60%;
	margin-left: 20%;
	text-align: center;
}