#header {
	text-align: center;
	font-size: 1.5em;
	background-color: blue;
	width: 100%;
	line-height: 100px;
	vertical-align: center;
	margin-bottom: 10px;
}

#topics {
	width: 60%;
	margin: auto;
	text-align: center;
}

#topics div {
	text-align: center;
	font-size: 1em;
	background-color: green;
	display: inline-block;
	width: 23%;
	margin: auto;
	float: center;
}

#big_box {
	width: 100%;
	margin: auto;
	text-align: center;
}

#big_box img {
	vertical-align: center;
	text-align: left;
}


