#bar {
	background-color: beige;
	display: block;
	height: 50px;
	width: 100%;
	top: 0px;
	position: absolute;
}

#sidebar {
	background-color: beige;
	position: absolute;
	height: 100%;
	width: 200px;
	display: inline-block;
	border-radius: 5px;
}

#main {
	display: inline-block;

}

#about {
	display: inline-block;
}