#bar {
	background-color: beige;
	display: block;
	height: 50px;
	width: 100%;
	top: 0px;
	position: absolute;
}

#sidebar {
	background-color: #94B8FF;
	position: absolute;
	height: 100%;
	width: 200px;
	display: inline-block;
	border-radius: 5px;
}

#main {
	display: inline-block;

}

#about {
	display: inline-block;
	width: 500px;

}

#portrait {
	margin-left: 400px;
	float: left;
	height: 500px;
	width: 390px;
	display: inline-block;
}