#topbar {
	width: 100%;
	height: 170px;
	background-color: blue;
	position: absolute;
	text-align: center;
	top: 0px;
	display: block;
	border: 
}


.heading {
	font-family: Arial;
}



.post {
	border: 1px solid grey;
	border-radius: 4px;
	display: block;
	top: 400px;
	width: 60%;
	text-align: center;
}

#allposts {
	position: absolute;
	top: 200px;
	width: 60%;
	text-align: center;
}